@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

:root {
    --fontOne: Verdana, Geneva, Tahoma, sans-serif;
    --fontTwo: 'Passion One', cursive;
    --fontThree: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}
/*test*/

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fontOne);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 3.125rem;
    font-variant: small-caps;
    font-family: var(--fontTwo);
    font-size: 10vw;
}

header > p {
    padding-bottom: 3.125rem;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 1.875rem;
    font-family: var(--fontThree);
    font-size: 3.5vw;
}

section > p {
    padding-bottom: 2em;
}

.normal {
    background-color: white;
    color: black;
}

.image {
    background-color: rgb(147, 48, 48);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.421);
    background-size: cover;
    background-attachment: fixed;
}

.image > p {
    background-color: rgba(0, 0, 0, 0.533);
    padding: 0.313rem;
    display: inline-block;
    text-shadow: 2px 2px 0px black;
}

#img01 {
    background-image: url('../d009/images/background001.jpg');
    background-position: right center;
}

#img02 {
    background-image: url('../d009/images/background002.jpg');
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 0.625rem;
}